

.container {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 500px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

table td {
	border: 1px solid grey;
	width: 100px;
	height: 100px;
	background-color: white;
}

body {
	background-color: #FFE5CC;
}